{% extends 'base.html' %}

{% block title %}{{ question.question }}{% endblock %}

{% block menu %}
    <li><a href="{% url "question_update" question.pk %}">Edit</a></li>
    <li><a href="{% url "question_delete" question.pk %}">Delete</a></li>
    <a href="{% url 'quest_answer' question.pk %}">Answer Now!</a>
    <li><a href="#add_answer">Add Answer</a></li>
{% endblock %}

{% block content %}
    <h1>{{ question.question }}</h1>
    <p>Created at {{ question.created_at|date:'d.m.Y H:i:s' }}</p>
    <hr/>
    <h3>Answers:</h3>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <div class="comment-list">
        {% for ans in answer %}
            <div class="comment">
                <p>{{ ans }}
                <p class="comment-links">
                    <a href="{% url 'answer_update' ans.pk %}">Edit</a>
                    <a href="{% url 'answer_delete' ans.pk %}">Delete</a>

                </p>
            </div>
        {% empty %}
            <p>No answers yet.</p>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <form action="{% url 'question_answer_create' question.pk %}" method="POST" id="add_answer">
        {% include 'partial/form.html' with button_text='Add' %}
    </form>
{% endblock %}